NEXT_PUBLIC_ADMIN_API_URL=http://localhost:4000
ADMIN_API_URL=http://localhost:4000
SNAPSERVE_MCP_WEBHOOK_URL=
SNAPSERVE_MCP_API_KEY=
NEXT_PUBLIC_SUPPORT_EMAIL=hello@nilabotanics.in
NEXT_PUBLIC_SUPPORT_PHONE=+91 90000 00000
